.github
.husky
.pytest_cache
.mypy_cache
.ruff_cache
.observability-data
.venv
venv
docker
files
htmlcov
node_modules
.coverage
__pycache__
*.pyc
.env
.env.*
.git
.gitignore
commitlint.config.cjs
package*.json
README.md